<div class="shadow-md p-4 rounded-lg mb-8 px-8">
    <h2 class="text-[2.8rem] mb-2 lg:text-center">Career Experience</h2>

    <div class="lg:w-[60%] mx-auto space-y-12 pt-[2rem]" styl="border: 2px solid red;">

        <div class="mb-4">
            <h3 class="text-3xl">Qovest</h3>
            <p class="text-gray-600 text-2xl">Backend Developer</p>
            <p class="text-gray-600 text-2xl">August 2023 – Present</p>
            <ul class="list-disc ml-6 mt-2">
                <li>Spearheading the development of a robust and scalable backend architecture</li>
                <li>Developed a robust OTP system to enhance user account security, reducing the risk of unauthorized
                    access</li>
                <li>Created a sophisticated system to calculate monthly property ownership costs, providing users with
                    transparent financial insights.</li>
                <li>Successfully integrated the 3rd party payment gateway into the application, to allow users make
                    secure payments.</li>
            </ul>
        </div>

        <!-- PursCliq -->
        <div class="mb-4">
            <h3 class="text-3xl">PursCliq</h3>
            <p class="text-gray-600 text-2xl">Backend Developer</p>
            <p class="text-gray-600 text-2xl">December 2022 – Present</p>
            <ul class="list-disc ml-6 mt-2">
                <li>Developed an invoicing system.</li>
                <li>Created personalized and bulk SMS transactions via external API endpoints for different activities
                    like signup confirmation, promotions, etc.</li>
                <li>Developed and maintained a user wallet microservice, utilizing RabbitMQ for messaging, ensuring high
                    availability, scalability, and ease of communication with other microservices.</li>
                <li>Implemented real-time updates to user wallets through efficient use of RabbitMQ messaging, leading
                    to improved user experience and satisfaction.</li>
            </ul>
        </div>

        <!-- TechPet Engineering Global -->
        <div class="mb-4">
            <h3 class="text-3xl">TechPet Engineering Global</h3>
            <p class="text-gray-600 text-2xl">Fullstack Developer Intern</p>
            <p class="text-gray-600 text-2xl">May 2022 – August 2022</p>
            <ul class="list-disc ml-6 mt-2">
                <li>Developed reusable UI and form components with React.js, used across projects which helped the team
                    boost development speed and roll up new features quickly.</li>
                <li>Wrote efficient E2E tests on the backend and frontend with Cypress, to mirror every possible fail
                    scenario. This greatly minimized code break in production and helped the team deliver high-quality
                    software product.</li>
            </ul>
        </div>

        <!-- Tribinnov Africa -->
        <div class="mb-4">
            <h3 class="text-3xl">Tribinnov Africa</h3>
            <p class="text-gray-600 text-2xl">Backend Developer Intern</p>
            <p class="text-gray-600 text-2xl">October 2021 – April 2022</p>
            <ul class="list-disc ml-6 mt-2">
                <li>Carried out tech research analysis which helped the firm position itself quite well against
                    competitors in terms of technology used.</li>
                <li>Developed the auth system for a research and data-collection system using the Django REST framework,
                    simple-JWT, and Djoser, for secure user authentication.</li>
            </ul>
        </div>
    </div>
</div>