<div class="text-white pt-8 w-[95%] lg:w-[58%] mx-auto">
    <h2 class="text-white text-center text-[2.8rem]">Projects</h2>

    <div class="project ">
        <h3 class="text-white text-3xl">OMC Autos</h3>
        <p class="mb-8 mt-5 pl-8 pr-2 lg:pr-[13rem]" style="border-left: 2px solid white;">
            OLAWORE MOTOR COMPANY (OMC) is a Nigerian auto manufacturing start-up founded in 2018 with the aim of
            designing and producing affordable and durable vehicles for the African market. As the first Nigerian brand
            to venture into the realm of sports and supercars, OMC is a true game - changer in the Nigerian automotive
            industry bringing a refreshing wave of customization, in-house innovation and alternative energy vehicles.
        </p>
        <div class="w-[6.5rem]" style="border-bottom: 1px solid white">

            <a href="https://omcautomobiles.com/" target="_blank" class="underlin pb-2"
                style="color: white;">Visit Site</a>
        </div>

    </div>

    <!-- Add more project entries as needed -->
</div>